body{
    background: black;
    color: white !important;
    
}

.bg-dark{
    background: black !important;
    color: white !important;
}
.bg-dark >div> a{
    color: white !important;
}

.gradinTitle{
    font-size: 60px;
    background: -webkit-linear-gradient(#fff, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradinItem{
    font-size: 20px;
    background: -webkit-linear-gradient(#fff, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradinText{
    font-size: 18px;
    background: -webkit-linear-gradient(#fff, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spin{

    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}